
<section class="mt-5">
    <!-- Tabla -->
      <table class="table mt-2">
        <!-- head -->
          <thead>
            <tr>
              <th>#</th>
              <th>Ícono</th>
              <th>Bandera</th>
              <th>País</th>
              <th>Capital</th>
              <th>Continente</th>
              <th>Población</th>
              <th>+</th>
            </tr>
          </thead>

        <!-- Body -->
          <tbody>
            <!-- rows with for -->

              @for (country of countriesInput(); track country.code; let number = $index) {
                <tr>
                  <th>{{number+1}}</th>
                  <td>{{country.icon}}</td>
                  <td>
                    <img [src]="country.flag" class="w-20 rounded-lg" [alt]="country.name">
                  </td>
                  <td>{{country.name}}</td>
                  <td>{{country.capital}}</td>
                  <td>{{country.continent}}</td>
                  <td>
                    <span class="badge badge-success font-bold">
                      {{country.population | number:'1.0-2'}}
                    </span>
                  </td>
                  <td>
                    <a [routerLink]="['/country/by', country.code]" class="link-primary">Más información</a>
                  </td>
                </tr>

              }
               <!--@empty {
                <tr>
                  <p>No hay países que coincidan con la búsqueda</p>
                </tr>
              }
            -->
                <!--Si tenemos un mensaje de error -->
                  @if (errorMessage()) {
                    <tr>
                      <td colspan="8" class="text-center text-red-600">
                        {{errorMessage()}}
                      </td>
                    </tr>
                  }

                <!--Si no tenemosp países -->

                  @if (isEmpty()) {
                    <tr>
                      <td colspan="8" class="text-center text-gray-600">
                        No se encontraron resultados
                      </td>
                    </tr>
                  }

                <!--Si se está cargando la data -->

                  @if(isLoading()) {
                    <tr>
                      <td colspan="8" class="text-center text-blue-600">
                        Buscando países ⌛⌛⏳⏳...
                      </td>
                    </tr>
                  }
          </tbody>
      </table>
  </section>
